
.Apresentacao {
    background-color:var(--gray-line);
    height: 25rem;
    
}

.container {
    background-color:var(--gray-line);
    margin-left:12rem;
    margin-right:12rem;
    padding-top:4rem;
    

}

.container h1{

    align-self:flex-start;
    display:flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: uppercase;
    font-size:2.5rem;
    margin-bottom:1.5rem;
    color:teal;
}

.container h2 {
    font-size:2rem;
    margin-bottom:3rem;
}

.container p {
    font-size: 1.5rem;
}
