
.containerPassos{
    background-color:#ebf0fd;
    text-align: center;
    height:auto;
}


.imgPassos{
    display:flex;
    max-width:1200px;
    flex-wrap:wrap;
    margin: 0 auto;
    height:50vh;    
    justify-content: space-between;
   
  
    
    
}
.paragrafo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    
    
    
  
}

.paragrafo img {
    display:flex;
    align-self:center;
    width:auto;
    height:auto;
}

@media (min-width: 550px) and (max-width:1200px){
    .paragrafo img {
        width:5rem;
        height:4rem;
    }

    .paragrafo {
        width:5rem;
    }

    .imgPassos{
        height:auto;
    }
}

@media (max-width:549px){
    .paragrafo img {
        width: 4rem;
        height:3rem;
    }

    .imgPassos {
        height:auto;
    }
}


.paragrafo p {
    padding:2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
}


.imgPassos p {
    
    font-family: Arial, Helvetica, sans-serif;
   
    
}



.imgPassos > div {
    flex: 1 1 200px;
    margin: 10px 30px;
    width:auto;
   

}

.containerPassos h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    padding:2rem;
    color: #001c8d
}

