.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 2px;
    align-items:center;
    background:#4c83ff;
    list-style:none;
    height:auto;
    position:sticky;
    width:100%;
    top:0;
    font-family:arial;
    font-weight: 500;
    text-transform:uppercase;
    scroll-behavior: smooth;
    
  
    

}

.menu a {
    color: #f3f3f3;
    background-color:transparent;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    border-radius:0.5rem 0.5rem 0.5rem;
    font-size:1rem;
   
    

}

.menu a:hover{
   
    color:black;
}

.ulMenu li {
    text-decoration: none;
    margin-left: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:auto;
    padding:0.5rem;
    
    
    
}

.navMenu{
    display:flex;
    justify-content: flex-start;
}
.ulMenu li a {
    display:flex;
    padding:10px;
    width:10rem;
    align-items:center;
    justify-content: center;
    text-align:center;
    
}

.ulMenu{
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.labelMenu{
    padding:5px;
    background: #222;
    color: #fff;
    font-family:Arial;
    text-align:center;
    font-size:30px;
    cursor:pointer;
    width:50px;
    height:50px;
    justify-content: center;
    display:none;
    position:fixed;
}

.btMenu{
    display:none;
}

.bt_menu:hover ~ .menuLista{
    display:block;
}



.ulMenu li:last-child a {
    background-color:#001c8d;
    color:white;
    
}
.ulMenu li:last-child a:hover {
    background-color:rgb(0, 0, 88);;

    
}



@media(max-width:800px){
    .aMenu {
        display:none;
    }
    .ulMenu{
        display:none;

    }
    .labelMenu{
        display:flex;
        
    }

    .menu{
        justify-content: flex-start;
    }

    .btMenu:checked + .ulMenu{
        display:flex;
    }

}



